#header {
    height: 16vh;
    background-color: white;
    display : flex;
    flex-direction: column;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    color: rgba(0,0,80,1)
}

#topheader {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
}

#topheader2 {
    display: flex;
}

#middleheader {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}

#middleleftheader {
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

#headerlogo{
    font-size: 24px;
    font-weight: 700;
}

#phonenumber {
    font-weight: 700
}

#searchbar {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#searchbar>input{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

#middlerightheader {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: 13px;
    justify-content: space-evenly;
    display: flex;
}



.toplink {
    display: flex;
}

.toplinktext {
    margin-left: 7px;
    margin-right: 7px;
}